body {
    font-family: Courier New, Courier, monospace;
}

p, h1 {
padding: 10px;
}

.poweredbyHome {
    width: 200px;
    margin: auto;
    padding: 20px;
    display: block;
}

.poweredby {
    width: 120px;
    transform: translate(80%,0);
    position: absolute;
}

.contentWrapper {
    margin: auto;
    width: 50%;
    text-align: center;
}

.gameBoard {
    font-size: 26px;
    font-weight: bolder;
    padding-top: 0px;
    padding-bottom: 10px;
}

.won {
    color: green;
}

.lost {
    color: red;
}

.wrapper {
    max-width: 300px;
    margin: auto;
}

.innerWrapper {
    padding-bottom: 100%;
    position: relative;
}

.hangman {
    width: 300px;
    height: 300px;
    position: absolute;
    left: 50%;
    transform: translate(-50%,0);
    z-index: 1;
}

.letterTable {
    margin: auto;
    width: 40%;
}

.letters {
    width: 50px;
}

.letters:hover,
.letters:focus {
    outline: 2px solid black;
}

.letters:focus {
    outline: 2px solid black;
    outline-offset: -4px;
}

.letters:active {
    transform: scale(0.95);
}

.used {
    width: 50px;
    opacity: 0.5;
    filter: alpha(opacity=50);
}

.button {
    display: inline-block;
    border: none;
    border-radius: 0.3rem;
    padding: 1rem 2rem;
    margin: 0;
    text-decoration: none;
    background: green;
    color: white;
    font-family: sans-serif;
    font-size: 1rem;
    cursor: pointer;
    text-align: center;
    transition: background 250ms ease-in-out,
    transform 150ms ease;
    -webkit-appearance: none;
    -moz-appearance: none;
}

.button:hover,
.button:focus {
    background: darkgreen;
}

.button:focus {
    outline: 1px solid #fff;
    outline-offset: -4px;
}

.button:active {
    transform: scale(0.98);
}

.square {
    line-height: 5em;
    height: 5rem;
    width: 5rem;
}
@media screen and (max-width: 600px) {
    .poweredby {
        width: 70px;
    }

    .contentWrapper {
        width: 100%;
    }

    .letterTable {
        margin: auto;
        width: 60%;
    }

    .gameBoard {
        font-size: 0.9em;
    }

    .wrapper {
        max-width: 160px;
    }
    .hangman {
        width: 160px;
        height: 160px;
    }

    .letters {
        width: 25px;
    }

    .used {
        width: 25px;
    }

}