body {
    font-family: Courier New, Courier, monospace;
}

p, h1 {
padding: 10px;
}

.contentWrapper {
    margin: auto;
    width: 50%;
    text-align: center;
}

.gameBoard {
    font-size: 26px;
    font-weight: bolder;
    padding-top: 0px;
    padding-bottom: 10px;
}

.won {
    color: green;
}

.lost {
    color: red;
}

.hangman {
    width: 300px;
}

.letterTable {
    margin: auto;
    width: 40%;
}

.letters {
    width: 50px;
}

.letters:hover,
.letters:focus {
    outline: 2px solid black;
}

.letters:focus {
    outline: 2px solid black;
    outline-offset: -4px;
}

.letters:active {
    transform: scale(0.95);
}

.used {
    width: 50px;
    opacity: 0.5;
    filter: alpha(opacity=50);
}

@media screen and (max-width: 600px) {
    .contentWrapper {
        width: 100%;
    }

    .gameBoard {
        font-size: 0.5em;
    }

    .hangman {
        width: 160px;
    }

    .letters {
        width: 25px;
    }

    .used {
        width: 25px;
    }

}