@(formattedGameWord: String, gameState: String, game: Hangman)

@main("Welcome to Hangman") {
    <h1>Welcome to Hangman!</h1>

    <img src="@routes.Assets.versioned("images/hangman " + game.remainingGuesses + ".svg")" class="hangman" alt="Hangman">

  <div class="gameBoard  @("won".when(gameState == "Winner")) @("lost".when(gameState == "Game Over"))">
    @gameState
  </div>

    <P class="gameBoard  @("won".when(gameState == "Winner")) @("lost".when(gameState == "Game Over"))">@formattedGameWord</P>

    @letterBoard('A', 'Z', game)

}
