@import viewModels.Letter

@(formattedGameWord: String, gameState: String, game: Hangman, letters: List[Letter])

@main("Welcome to Hangman") {
    <h1>Welcome to Hangman!</h1>

    <div class="wrapper">
        <figure class="innerWrapper">
            <img src="@routes.Assets.versioned("images/hangman " + game.remainingGuesses + ".svg")" class="hangman" alt="Hangman">
        </figure>
    </div>

    <div class="gameBoard  @("won".when(gameState == "Winner")) @("lost".when(gameState == "Game Over"))">
    @gameState
    </div>

    <P class="gameBoard  @("won".when(gameState == "Winner")) @("lost".when(gameState == "Game Over"))">@formattedGameWord</P>

    @if(gameState == "Winner" || gameState == "Game Over") {
        <p><a href="@game.url">View details of this film</a></p>
        <a class="button" href="@routes.HomeController.index()">Play Again</a>
    } else {
        @letterBoard(letters)
    }
}
